<meta charset="UTF-8">
<title>The Dante API</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="css/material.css">
<link rel="stylesheet" href="css/style.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
