body{
    padding-left: 30px;
    padding-right: 30px;
}

.jumbotron{
    background-color: #f5f5f5 !important;
    color: black;
    box-shadow: 0px 0px #000;
}

.jumbotron h1{
    color: rgba(0, 0, 0, 0.68)
}

.jumbotron p{
    color: rgba(0, 0, 0, 0.38)
}


.card-body{
    padding: 10px;
}

.text-inline{
    display: inline;
}

.text-italics{
    font-style: italic;
}

.enter-panel-wrapper{
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.panel-window{
    margin: 20px 0px 20px 0px;
    background-color: #f5f5f5;
    padding: 10px;
}

.active-panel-block{
    background-color: lightgrey;
}

.entry-summary p{
    margin:5px auto;
    text-align: justify;
}

.find-add-edit-wrapper{
    margin-top: 15px;
}

.search-results{
    min-height: 580px;
    max-height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-result{
    cursor: pointer;
}

.search-result:hover{
    background-color: rgb(250, 250, 250);
}

.edit-location-form-wrapper{
    margin-top: 6px;
}

.edit-location-basic{
    padding: 3px;
}

.edit-notes-list-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-note{
    cursor: pointer;
    padding: 0px;
}

.select-note:hover{
    background-color: rgb(250, 250, 250);
}
