body{
    color: #424733;
}

.jumbotron{
    background-color: #f5f5f5 !important;
    box-shadow: 0px 0px #000;
}

.jumbotron h1{
    color: black;
}

.jumbotron p{
    color: #424733 !important;
}


.card-body{
    padding: 10px;
}

.text-inline{
    display: inline;
}

.text-italics{
    font-style: italic;
}

.enter-panel-wrapper{
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.panel-window{
    margin: 20px 0px 20px 0px;
    background-color: #f5f5f5;
    padding: 10px;
}

.active-panel-block{
    background-color: lightgrey;
}

.entry-summary p{
    margin:5px auto;
    text-align: justify;
}

.find-add-edit-wrapper{
    margin-top: 15px;
}

.search-results{
    max-height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-result{
    cursor: pointer;
    color: #424733 !important;
}

.search-result:hover{
    background-color: #FDF8DE;
}

.edit-location-form-wrapper{
    margin-top: 6px;
}

.edit-location-basic{
    padding: 3px;
}

.edit-notes-list-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-note{
    cursor: pointer;
    color: #424733 !important;
}

.select-note:hover{
    background-color: #FDF8DE;
}

.parchment-background{
    background-color: #FDF8DE;
    color: #424733 !important;
}

.btn-white{
    background-color: #FFFFFF;
    color: #424733;
}

.btn-black{
    background-color: #424733;
    color: #FFFFFF;
}

.btn-red{
    background-color: #B00000 !important;
    color: #FFFFFF !important;
}

.red-hover:hover{
    background-color: #B00000 !important;
    color: #FFFFFF !important;
}