<div class="card-block" data-bind="with: locationsPanel">
    <div class="add-location-form">
        <h3 class="card-title">Add Entry</h3>
        <form data-bind="submit: submitNewLocation">
            <div class="form-group" data-bind="with: addLocationForm">
                <label for="new-entry-name">Entry Name</label>
                <input data-bind="value: name" name="name" type="text" class="form-control" id="addLocationName" aria-describedby="nameHelp" placeholder="name" required>
                <small id="nameHelp" class="form-text text-muted">Make sure spelling is correct to prevent double entries of like records.</small>
                <br>
                <label for="new-entry-address">Entry Address</label>
                <input data-bind="value: address" name="address" type="text" class="form-control" id="addLocationAddress" aria-describedby="addressHelp" placeholder="address">
                <small id="addressHelp" class="form-text text-muted">You may enter a valid address or longitude and lattitude coordinates as '[long, latt]'</small>
                <br>
                <label for="new-entry-summary">Entry Summary</label>
                <textarea data-bind="value: summary" name="summary" id="addLocationSummary" class="form-control" placeholder="please enter a summary" rows="6"></textarea>
                <br>
                <button type="submit" class="form-control btn btn-success">Create New</button>
            </div>
        </form>
        <small data-bind="text: formResponse.message()"></small>
    </div>
</div>