<div class="card-block">
    <div class="add-location-form">
        <h3 class="card-title">Edit Entry</h3>
        <form>
            <div class="form-group">
                <label for="new-entry-name">Entry Name</label>
                <input type="text" class="form-control" id="new-entry-name" aria-describedby="nameHelp" placeholder="New Entry Name">
                <small id="nameHelp" class="form-text text-muted">Make sure spelling is correct to prevent double entries of like records.</small>
                <br>
                <button class="form-control btn btn-success">Create New</button>
            </div>
        </form>
    </div>
</div>