<div class="card-block">
    <div class="add-location-form">
        <h3 class="card-title">Edit Entry</h3>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item red-hover">
                    <a class="nav-link" href="#" 
                    data-bind="click: function(data, event) { locationsPanel.editInfoFormWindowChange('basic', data, event) }">Basic</a>
                </li>
                <li class="nav-item red-hover">
                    <a class="nav-link" href="#"
                    data-bind="click: function(data, event) { locationsPanel.editInfoFormWindowChange('notes', data, event) }">notes</a>
                </li>
            </ul>
        </div>
        <div class="">
            <div class="edit-location-form-wrapper">
                <!-- ko if: locationsPanel.editInfoFormWindowSelected() === 'basic' -->
                    <% include ./editLocationFormBasic %>
                <!-- /ko -->

                <!-- ko if: locationsPanel.editInfoFormWindowSelected() === 'notes' -->
                    <% include ./editLocationFormNotes %>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>