
<div class="edit-notes-list-wrapper" data-bind="foreach: locationsPanel.selectedLocation.notes">

    <div class="card card-outline-primary mb-3 search-result" >
    <div class="card-block">
        <p data-bind="text: $data"></p>
    </div>
    </div>
</div>
