<div class="card card-outline-primary mb-3 search-result" data-bind="click: locationsPanel.selectLocation.bind($data, name)">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h5 class="text-center" data-bind="text: name"></h5>
      <h6 class="text text-italics" data-bind="text: address"></h6>
    </blockquote>
      <p data-bind="text: summary"></p>
  </div>
</div>
