
      <h5>Locations Panel</h5>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" 
                    data-bind="click: function(data, event) { locationsPanel.selectLocationInfoWindow('summary', data, event) }" 
                    href="#">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    data-bind="click: function(data, event) { locationsPanel.selectLocationInfoWindow('notes', data, event) }" 
                    href="#">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    data-bind="click: function(data, event) { locationsPanel.selectLocationInfoWindow('images', data, event) }" 
                    href="#">Images</a>
                </li>
            </ul>
        </div>


    <!-- ko if: locationsPanel.locationInfoWindowSelected() === 'summary' -->
    <div class="card-block entry-summary">
        <h4 class="card-title" data-bind="text: locationsPanel.selectedLocation.name"></h4>
        <div class="card-text">
            <h5 class="text-italics" data-bind="text: locationsPanel.selectedLocation.address"></h5>
            <p  data-bind="text: locationsPanel.selectedLocation.summary"></p>
        </div>
      </div>
    <!-- /ko -->


    <!-- ko if: locationsPanel.locationInfoWindowSelected() === 'notes' -->
    <% include ./locationNotes %>
    <!-- /ko -->

    </div>




<div class="row find-add-edit-wrapper">
    <div class="col-sm-6 entry-add">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#" 
                        data-bind="click: function(data, event) { locationsPanel.formWindowChange('add', data, event) }">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                        data-bind="click: function(data, event) { locationsPanel.formWindowChange('edit', data, event) }">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                        data-bind="click: function(data, event) { locationsPanel.formWindowChange('delete', data, event) }">Delete</a>
                    </li>
                </ul>
            </div>

        <!-- ko if: locationsPanel.formWindowSelected() === 'add' -->
            <% include ./addlocationform %>
        <!-- /ko -->

        <!-- ko if: locationsPanel.formWindowSelected() === 'edit' -->
            <% include ./editlocationform %>
        <!-- /ko -->

        <!-- ko if: locationsPanel.formWindowSelected() === 'delete' -->
            <% include ./deleteLocation %>
        <!-- /ko -->
    </div>

    </div>

    <div class="col-sm-6 entry-add">
    <div class="card">
         <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <form class="form-inline" data-bind="submit: preventForm">
                    <input data-bind="value: locationsPanel.searchValue , valueUpdate: 'keyup', event: { keyup: locationsPanel.searchQueryEntered }" 
                    class="form-control mr-sm-2" type="text" placeholder="Search Entries">
                </form>
                </li>
            </ul>
        </div>
      <div class="card-block">
        <h3 class="card-title">Search Results</h3>
        <small>Type into the search bar and we will try to find what your looking for</small>

        <div class="search-results" data-bind="foreach: locationsPanel.filteredLocations">
            <% include ./locationSearchResults.ejs %>
        </div>

      </div>
    </div>
  </div>
</div>

