<div class="card card-outline-primary mb-3 search-result" 
    data-bind="click: locationsPanel.selectLocationNote.bind($data)">
  <div class="card-block">
      <p data-bind="text: $data"></p>
  </div>
</div>
